.card {
    height: 300px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;

    box-shadow: 1px 1px 1px 1px rgb(215, 215, 215);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.img {
    height: 35%;
    aspect-ratio: 1/1;
    padding: 20px;
}

.title {
    padding: 10px 20px;
}

.price {
    padding: 10px 20px;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.layout {
    height: 90%;
    width: 80%;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(162, 162, 162);

    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: cursive;
    gap: 10px;
}

.heading {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
    padding: 5px 0px;
}

.image {
    height: 40%;
    object-fit: contain;
}

.pricing {
    position: absolute;
    bottom: 10px;
    color: green;
}

.det {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    position: relative;
}

.text-data {
/* position: relative; */
}

/* @media screen and (min-width: 650px) {
    .layout {
        display: flex;
        flex-direction: row;
    }
  } */